USE [MvcKurumsal]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 1.5.2020 23:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Application] [nvarchar](2000) NULL,
	[Logged] [nvarchar](2000) NULL,
	[Level] [nvarchar](2000) NULL,
	[Message] [nvarchar](2000) NULL,
	[Logger] [nvarchar](2000) NULL,
	[CallSite] [nvarchar](2000) NULL,
	[Exception] [nvarchar](2000) NULL,
	[MachineName] [nvarchar](2000) NULL,
	[action] [nvarchar](2000) NULL,
	[url] [nvarchar](2000) NULL,
	[UserName] [nvarchar](2000) NULL,
	[TimeStamp] [nvarchar](2000) NULL,
	[Stacktrace] [nvarchar](2000) NULL,
	[LogException] [nvarchar](2000) NULL,
	[InnerErrorMessage] [nvarchar](2000) NULL,
	[ErrorMessage] [nvarchar](2000) NULL,
	[ErrorSource] [nvarchar](2000) NULL,
	[ErrorClass] [nvarchar](2000) NULL,
	[ErrorMethod] [nvarchar](2000) NULL,
	[siteName] [nvarchar](2000) NULL,
	[properties] [nvarchar](2000) NULL,
	[serverName] [nvarchar](2000) NULL,
	[port] [nvarchar](2000) NULL,
	[https] [nvarchar](2000) NULL,
	[serverAddress] [nvarchar](2000) NULL,
	[remoteAddress] [nvarchar](2000) NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Log] ON 
GO
SET IDENTITY_INSERT [dbo].[Log] OFF
GO
